!!!
%html
  %head 
    %title Licode trial for Galaxy project
    %link{:rel => "shortcut icon",
      :href => "data:image/x-icon;,",
      :type => "image/x-icon"}
    %link{:rel => "stylesheet",
      :href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}

%body
  .container
    = yield
