%script{:src => "/js/erizo.js"}
%script{:src => "/js/participant.js"}

%h1 Participant
.alert.alert-danger#js-status-container{:role => 'alert', :style => 'display: none;'}
.panel.panel-default
  .panel-heading Local video stream
  .panel-body
    #js-local-video{:style => 'width: 320px; height: 240px'}
